@font-face {
  src: url(fonts/Inter.var.woff2);
  font-family: inter-var;
  font-weight: 400;
}
@font-face {
  src: url(fonts/Typefesse_Claire-Obscure.otf);
  font-family: typefesse;
  font-weight: 400;
}
@font-face {
  src: url(fonts/lack-regular-webfont.woff);
  font-family: lack;
  font-weight: 400;
}
@font-face {
  src: url(assets/css/fonts/SportingGrotesque-Regular.otf);
  font-family: sporting;
  font-weight: 400;
}
@font-face {
  src: url(assets/css/fonts/SportingGrotesque-Bold.otf);
  font-family: sporting-bold;
  font-weight: 700;
}
@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
@import url(//fonts.googleapis.com/earlyaccess/nikukyu.css);
html {
  font-family: "nikukyu", sans-serif;
}
:root {
  --main-bg: #111;
  --fcolor: #fff;
  --fcolor2: #14fdc0;
  --font-copy: "gintronic", monospace;
  --font-hl: "inter-var", sans-serif;
  --main-border: #fff;
  --hover: #14fec0;
}

body {
  background-color: var(--main-bg);
  color: var(--fcolor);
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
  transform: translateY(0);
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: translateY(-15px);
}

.font-hl {
  font-family: var(--font-hl);
  color: var(--fcolor);
  font-variation-settings: normal;
}

.main-border {
  border-color: var(--main-border: #fff);
}

.inter {
  font-family: "Inter", sans-serif;
}
.typefesse {
  font-family: "typefesse", sans-serif;
}
.lack {
  font-family: "lack", sans-serif;
}
.sporting {
  font-family: "sporting", sans-serif;
}
.sporting-bold {
  font-family: "sporting-bold", sans-serif;
}

.inter-var {
  font-family: "inter-var", sans-serif;
}
.nikukyu {
  font-family: "nikukyu", sans-serif;
}

.stretch {
  animation: animate-headline 4s alternate infinite;
}

.main-border {
  border-color: var(--main-border);
}

@keyframes animate-headline {
  0% {
    font-variation-settings: "wght" 400, "slnt" 0, "wdth" 0;
    letter-spacing: 0;
  }
  100% {
    font-variation-settings: "wght" 700, "slnt" -8, "wdth" 500;
    letter-spacing: 3px;
  }
}

.vertical {
  writing-mode: vertical-lr;
}
.flip {
  transform: rotate(180deg);
  text-align: right;
}
