<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}"> {%- include
head.html -%}

<body class="font-copy">
  <main id="swup" class="page-content transition-fade" aria-label="Content">
    <div class="wrapper">
      <div class="vh-100">
        <div class="mh3 bb bw1 main-border flex justify-between items-end">
          <div class="">
            <a href="{{ site.url }}" class="link">
              <h1
                class="{{ page.font }} f1 fw4 pb0 mt3 mb1 font-hl ttu tracked"
              >
                {{ page.headline }}
              </h1>
            </a>
          </div>
          <div class="hide-child flex">
            <a
              href="/{{ page.prev }}"
              class="child f1 font-hl f1 mt3 mb1 link mr3 pointer"
              ><</a
            >
            <a href="/{{ page.next }}" class="link pointer">
              <h1 class="font-hl f1 mt3 mb1">{{ page.num }}</h1>
            </a>
          </div>
        </div>
        <div class="flex pa3 pt6">
          <div class="w-50 flex items-end">
            {% include frame.html %}
            <p class="vertical flip font-hl f5 ma0 ml2">
              {{ page.caption }}
            </p>
          </div>
          <div class="w-50 ph4">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </main>

  {%- include scripts.html -%}
</body>
